 {% extends 'base.html' %}
 {% block content %}
     {% load bootstrap3 %}
     <div id="headerwrap">
         <div class="row centered" style="margin-top: 40px;">
            <div class="col-md-4 col-md-offset-4">
                <h1> Se connecter</h1>
                {% if error %}
                    <p><strong class="error">Utilisateur inconnu ou mauvais mot de passe</strong></p>
                {% endif %}
                <form method="POST" class="form-horizontal" role="form" style="margin-left: 20px;">{% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                        Se connecter
                    {% endbuttons %}
                </form>
            </div>
         </div> <!-- row -->
     </div> <!-- service -->
{% endblock %}